/* You can add global styles to this file, and also import other style files */
* {
  font-family: 'Didact Gothic', sans-serif;
  font-weight: lighter;
  letter-spacing: 0.1em;
  color: #11ece5;
}

body {
  background-color: #24364e;
}
