/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

* {
  font-family: 'Didact Gothic', sans-serif;
  font-weight: lighter;
  letter-spacing: 0.1em;
  color: #11ece5;
}

html, body { 
  height: 100%; 
  background-color: #24364e;
}
